{%extends 'resource.html'%} {%block title%}
<title>CoFounder(s) for you</title>{%endblock title%} {%block body%}
<h1 class="text-center">PromoDesk</h1>
<h2 class="text-center">CoFounders for You</h2>
<div class="container">
    <style>
        h1 {
            color: rgb(24, 0, 131);
        }
        
        h2 {
            color: rgb(255, 0, 85);
        }
        
        label {
            color: black
        }
    </style>

    <br>
    
    <br>  {%for cofounders in data%}
    <div class="card text-white bg-dark mb-3" style="max-width: auto" align="center">
        <div class="card-header">{{cofounders.name}} {{cofounders.surname}}</div>
        <div class="card-body">
            <h4 class="card-text" style="color:rgb(196, 174, 255)">Category: {{cofounders.category}}</h4>
            <h4 class="card-text" style="color:rgb(196, 174, 255)">Description: {{cofounders.experience}}</h4>
            <a href="mailto:{{cofounders.email}}">
                <h4 class="card-text" style="color:rgb(196, 174, 255)">Email: {{cofounders.email}}</h4>
            </a>
        </div>
    </div>
    <br> {%endfor%} 
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> {%endblock body%}